# Lists,Tuples and Set

In [1]:
course=['math','chemistry','physics','comp sci']

In [2]:
print(len(course))

4

In [3]:
course.append('Art')

In [4]:
print(course)

['math', 'chemistry', 'physics', 'comp sci', 'Art']

In [5]:
course.insert(0,'English')

In [6]:
print(course)

['English', 'math', 'chemistry', 'physics', 'comp sci', 'Art']

In [7]:
course_2=['Tamil','Games']

To merge the the elements of another list to course list:

In [8]:
course.extend(course_2)

In [9]:
course

['English',
 'math',
 'chemistry',
 'physics',
 'comp sci',
 'Art',
 'Tamil',
 'Games']

In [10]:
course.remove('Art') 
course

['English', 'math', 'chemistry', 'physics', 'comp sci', 'Tamil', 'Games']

In [11]:
course.pop() # removes the last element of the list
course

['English', 'math', 'chemistry', 'physics', 'comp sci', 'Tamil']

In [12]:
course.reverse() 
course

['Tamil', 'comp sci', 'physics', 'chemistry', 'math', 'English']

Sorting in ascending order:

In [13]:
course.sort() # This sorts the list in ascending alphebatic order
course

['English', 'Tamil', 'chemistry', 'comp sci', 'math', 'physics']

Sorting in descending order

In [14]:
course.sort(reverse=True) # This sorts the list in descending alphebatic order
course

['physics', 'math', 'comp sci', 'chemistry', 'Tamil', 'English']

The above sorting affects the original list directly!
To get sorted the list without affecting the original list:

In [4]:
desc_sort=sorted(course, reverse= True)
asc_sort=sorted(course)
print(asc_sort)

['chemistry', 'comp sci', 'math', 'physics']

to find the index of an element in a list:

In [50]:
comp_indx=course.index('comp sci')
print(comp_indx)

2

In [51]:
for item in course:
    print(item)

physics
math
comp sci
chemistry
Tamil
English

To get the items of the list along with index:

In [52]:
for item in enumerate(course):
    print(item)

(0, 'physics')
(1, 'math')
(2, 'comp sci')
(3, 'chemistry')
(4, 'Tamil')
(5, 'English')

In [53]:
for ind,item in enumerate(course):
    print(ind,item)

0 physics
1 math
2 comp sci
3 chemistry
4 Tamil
5 English

In [58]:
for item in enumerate(course,start=1):
    print(item)

(1, 'physics')
(2, 'math')
(3, 'comp sci')
(4, 'chemistry')
(5, 'Tamil')
(6, 'English')

convert a list into strings with comma or anything specific to the need:

In [63]:
course_str=', '.join(course)
course_str

'physics, math, comp sci, chemistry, Tamil, English'

convrt a string into list wrt to any delimiter:

In [64]:
new_list=course_str.split(', ')
print(new_list)

['physics', 'math', 'comp sci', 'chemistry', 'Tamil', 'English']

Tuples are similar to list but they are immutable

Coming to sets...

In [68]:
cs_course={'Math','Physics','chemsitry'}
art_course={'English','soft skills','Physics'}
print(cs_course.intersection(art_course))
print(cs_course.difference(art_course))
print(cs_course.union(art_course))

{'Physics'}
{'Math', 'chemsitry'}
{'Math', 'Physics', 'soft skills', 'chemsitry', 'English'}

In [1]:
emp_list=[]
emp_list=list()

emp_tuple=()
emp_tuple=tuple()

emp_set={} # this is not right, this forms empty dictionary
emp_set=set()

You can unpack a sequence into different variables:

In [18]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x
y=[ele for ele in x] # convert a tuple to a another list variable using list comprehension.
print(y)
print(fname)
print(lname)
print(email)

['Christopher', 'Brooks', 'brooksch@umich.edu']
Christopher
Brooks
brooksch@umich.edu

# Dictionary and its use cases

In [5]:
student={'name':'John','age':22,'courses':['math','science']}
print(student['courses'])

['math', 'science']

In [24]:
print(student['phone'])

KeyError: 'phone'

To ignore the key error

In [25]:
print(student.get('name','Not Found'))
print(student.get('Phone','Not Found'))

John
Not Found

To add a new Key-Value Pair or update an existing key-value pair:

In [26]:
student['phone']='978685842'
student['name']='Jane'

In [27]:
print(student.get('name','Not Found'))
print(student.get('phone','Not Found'))

Jane
978685842

To update multiple Key values at once:

In [28]:
student.update({'name':'Surya','age':23})
print(student)

{'name': 'Surya', 'age': 23, 'courses': ['math', 'science'], 'phone': '978685842'}

To delete any Key-Value Pair:

In [29]:
del student['phone']
student

{'age': 23, 'courses': ['math', 'science'], 'name': 'Surya'}

In [30]:
age=student.pop('age')
age
student
student.update({'name':'John','age':23,'phone':934892422})

Looping through Keys and Values of our Dictionary

In [36]:
print(len(student))

4

In [34]:
for key,value in student.items():
    print(key,value)

name John
courses ['math', 'science']
age 23
phone 934892422

# Conditions and Booleans

In [113]:
a=[1,2,3]
b=[1,2,3]
print(a==b)

True

In [114]:
print(a is b)

False

The reason why the above statement returns False is, the two objects a and b are sllocated in different memeory locations. The is operator compares the object's id but not the value of the obejects.

In [115]:
print(id(a))
print(id(b))

121450056
121346504

In [3]:
a=5
b=a
b=3
print(id(a),id(b))
print(a is b)

94014042499904 94014042499840
False

In [116]:
#False Vlaues
# False
# None
# Zero of any numeric type
# Any empty sequence, for exmaple, '',(),[].
#Any empty mapping, for example, {}.

# Functions

In [1]:
def hello_func():
    pass
    
hello_func()

In [2]:
def hello_func():
    print('hello world')
    
hello_func()

hello world

In [129]:
def hello_func():
    return 'Hello World'
    
hello_func().upper()

'HELLO WORLD'

In [135]:
def hello_func(greeting,name='You'):
    return '{},{}'.format(greeting,name)
    
print(hello_func('HI','surya'))
print(hello_func('HI'))

HI,surya
HI,You

 Usage of args & Kwargs

In [3]:
def student_info(*args,**kwargs):
    print(args)
    print(kwargs)
student_info('Math','Art',name='John',Age=22)

('Math', 'Art')
{'name': 'John', 'Age': 22}

Using args & kwargs to call a function

In [4]:
courses=['Math','Art']
info={'name':'John','Age':22}
student_info(courses,info)
student_info(*courses,**info)

(['Math', 'Art'], {'name': 'John', 'Age': 22})
{}
('Math', 'Art')
{'name': 'John', 'Age': 22}

In [145]:
month_days=[0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
    return year %4==0 and (year %100 != 0 or year % 400 ==0)
def days_in_month(year,month):
    
    if not 1<=month<=12:
        print('Invalid Month')
    if month==2 and is_leap(year):
        return 29
    return month_days[month]

print(days_in_month(2017,3))

31

# Modules

In [31]:
#Created a module called my_module that is in the present directory
import my_module

imported from my module....

In [32]:
import my_module
course=['English','Tamil','Math','Science','Social']
index_of_element=my_module.find_index(course,'Math')
print(index_of_element)

2

In [33]:
print(dir(my_module)) #List out all the methods and attributes available

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'find_index']

Python looks for modules in certain paths, to see those paths:

In [12]:
import sys

print(sys.path)

['', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\python36.zip', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\DLLs', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\ezmxxsu\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\ezmxxsu\\.ipython']

In [17]:
import random

random_course=random.choice(course)
random_course

'Science'

# List Comprehensions

In [16]:
nums=[i+1 for i in range(10)]
my_list=list(map(lambda n: n, nums))

In [21]:
my_list_even=[n for n in nums if n%2 ==0]
print(my_list_even)
my_list_even=list(filter(lambda n: n%2==0,nums))
print(my_list_even)

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

# Dictionary Comprehensions

In [24]:
names=['Bruce','Clark','Peter','Logan','Wade']
heros=['Batman','Superman','Spiderman','Wolverine','Deadpool']
print (list(zip(names,heros)))

[('Bruce', 'Batman'), ('Clark', 'Superman'), ('Peter', 'Spiderman'), ('Logan', 'Wolverine'), ('Wade', 'Deadpool')]

In [26]:
my_dict={name:hero for name,hero in list(zip(names,heros))}
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Peter': 'Spiderman',
 'Wade': 'Deadpool'}

# Set Comprehension

In [27]:
nums=[1,1,2,2,2,3,3,4,5,5,5,5,6,6,7]
my_set={n for n in nums}
my_set

{1, 2, 3, 4, 5, 6, 7}

# Generator Expression

In [28]:
#Generators are simple functions which return an iterable set of items, 
#one at a time. This aviods keeping all the items in a list in memeory.

# without generator

def square_numbers(nums):
    sq_list=[]
    for n in nums:
        sq_list.append(n*n)
    return sq_list

square_numbers([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [37]:
#Using generators

def square_numbers(nums):
    for n in nums:
        yield n*n
        
num=square_numbers([1,2,3,4,5])

print (next(num))
print (next(num))
print (next(num))
print (next(num))
print (next(num))

# Or

for n in num:
    print(n)

1
4
9
16
25

In [33]:
# using list comprehensions

sq_num=[n*n for n in [1,2,3,4,5]]
print(sq_num)

[1, 4, 9, 16, 25]

In [35]:
# Using generator comprehension

sq_num=(n*n for n in [1,2,3,4,5])
print (next(sq_num))
print (next(sq_num))
print (next(sq_num))
print (next(sq_num))
print (next(sq_num))

# Or
for n in num:
    print(n)

1
4
9
16
25

# More on sorting of Lists, tuples and dictionaries

In [41]:
li=[-6,-4,1,3,2,-5]
s_li=sorted(li,key=abs)
s_li

[-6, -5, -4, 1, 2, 3]

Object Sorting

In [3]:
class employee():
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
        
    def __repr__(self):
        return '{},{},${}'.format(self.name,self.age,self.salary)
    
emp1=employee('Surya',23,24000)
emp2=employee('Sowmya',23,27000)
emp3=employee('Jaya',22,25000)

emp_list=[emp1,emp2,emp3]

def e_sort(emp):
    return emp.name

s_emp=sorted(emp_list, key=e_sort)
s_emp

[Jaya,22,$25000, Sowmya,23,$27000, Surya,23,$24000]

In [4]:
class employee():
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
        
    def __repr__(self):
        return '{},{},${}'.format(self.name,self.age,self.salary)
    
emp1=employee('Surya',23,24000)
emp2=employee('Sowmya',23,27000)
emp3=employee('Jaya',22,25000)

emp_list=[emp1,emp2,emp3]

s_emp=sorted(emp_list, key=lambda e:e.name)
s_emp

[Jaya,22,$25000, Sowmya,23,$27000, Surya,23,$24000]

# String Formatting advanced : Dicts, Lists, Numbers, and Dates

In [16]:
person={'name':'Jenn','age':23}

#different ways of string formatting dicts
sen1='My name is {} and my age is {}'.format(person['name'],person['age'])

sen2='His name is {0} and his age is {1}. {0} was a good student in school.'.format(person['name'],person['age'])

sen3='His name is {0[name]} and his age is {1[age]}. {0[name]} was a good student in school.'.format(person,person)

sen4='His name is {0[name]} and his age is {0[age]}. {0[name]} was a good student in school.'.format(person)

print(sen1)
print(sen2)
print(sen3)
print(sen4)

# Direct mapping of dict items

sen5='His name is {name} and his age is {age}. {name} was a good student in school.'.format(name='Jenn',age=23)
print(sen5)

#Unpacking the items from dict

sen6='His name is {name} and his age is {age}. {name} was a good student in school.'.format(**person)
print(sen6)

My name is Jenn and my age is 23
His name is Jenn and his age is 23. Jenn was a good student in school.
His name is Jenn and his age is 23. Jenn was a good student in school.
His name is Jenn and his age is 23. Jenn was a good student in school.
His name is Jenn and his age is 23. Jenn was a good student in school.
His name is Jenn and his age is 23. Jenn was a good student in school.

In [18]:
# different ways of string formatting lists

l=['Jenn',23]

sen1='His name is {0[0]} and his age is {0[1]}. {0[0]} was a good student in school.'.format(l)
#unpacking the items from the list
sen2='His name is {0} and his age is {1}. {0} was a good student in school.'.format(*l)

print(sen1)
print(sen2)

His name is Jenn and his age is 23. Jenn was a good student in school.
His name is Jenn and his age is 23. Jenn was a good student in school.

In [13]:
# Different wasys of string formatting class attributes

class person():
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person('Jenn',23)

sen1='His name is {0.name} and his age is {0.age}. {0.name} was a good student in school.'.format(p1)
print(sen1)

His name is Jenn and his age is 23. Jenn was a good student in school.

In [23]:
# Different ways of number formatting

for n in range(1,11):
    print('the number is {}.'.format(n))
    
#Double padding 
print('\n')

for n in range(1,11):
    print('the number is {:02}.'.format(n))

the number is 1.
the number is 2.
the number is 3.
the number is 4.
the number is 5.
the number is 6.
the number is 7.
the number is 8.
the number is 9.
the number is 10.


the number is 01.
the number is 02.
the number is 03.
the number is 04.
the number is 05.
the number is 06.
the number is 07.
the number is 08.
the number is 09.
the number is 10.

In [24]:
Pi=3.14159265

sen='The value of Pi is {:.2f}'.format(Pi) #only two decimals included

print(sen)

The value of Pi is 3.14

In [29]:
# For comma separated values

sen='1 MB is eqaul to {:,} bytes'.format(1000**2)
print(sen)

# to include two decimals 

sen1='1 MB is eqaul to {:,.2f} bytes'.format(1000**2)
print(sen1)

1 MB is eqaul to 1,000,000 bytes
1 MB is eqaul to 1,000,000.00 bytes

In [30]:
# fORMATTING DATES
import datetime

my_date=datetime.datetime(2018,8,28,3,58,45)

sen='{:}'.format(my_date)

2018-08-28 03:58:45

# OS module

In [46]:
import os

print(os.getcwd()) #GETS current working directory

os.chdir(r'C:\Users\ezmxxsu\Documents') # for changing the current working directory
print(os.getcwd())

C:\Users\ezmxxsu\Documents\my python notebook\Corey Schafer
C:\Users\ezmxxsu\Documents

In [52]:
os.mkdir('OS_demo_dir') # This makes sub folder only if the parent folder exists
os.makedirs('OS_demo/sub-folder') # this makes sub-folder along with parent folder if not exist

os.rmdir('OS_demo_dir/')
os.removedirs('OS_demo/sub-folder/')

print

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'OS_demo_dir'

In [4]:
import os

os.chdir('/Users/ezmxxsu/Desktop/')
print(os.getcwd())
for dirpath,dirname,filenames in os.walk('/Users/ezmxxsu/Desktop/'):
    print('CurretnPath:{}'.format(dirpath))
    print('Directories:{}'.format(dirname))
    print('Files:{}'.format(filenames))

C:\Users\ezmxxsu\Desktop
CurretnPath:/Users/ezmxxsu/Desktop/
Directories:['Files moved toprod', 'home', 'New folder', 'Shell', '__pycache__']
Files:['after change.docx', 'AI and Robotics.txt', 'AMRx EDx.PNG', 'anaconda.txt', 'Atom.lnk', 'Change Template_Tech Plan_AMS database replication.docx', 'CMDB data 24th May to 26th June.xlsx', 'communication plan.docx', 'Copy of CMDB data 27th June to 10th August.xlsx', 'cover letter - noodle ai.docx', 'CV_Surya M.pdf', 'desktop.ini', 'Ericsson Signature Tool.lnk', 'Facebook work Log.txt', 'Final prototype.PNG', 'final_script.py', 'foisdb (2).sql', 'foisdb (2).zip', 'july2018.PNG', 'JunosPulse.x64.rar', 'mail.docx', 'MBNL_Blank Change Request Template.xlsx', 'MEng course choices univ of waterloo.docx', 'missing time zone id.PNG', 'R You Ready.docx', 'resume_updated.docx', 'RFC Maybach Change Template.docx', 'Self Service.lnk', 'Servebot purchase list.xlsx', 'Server Managment MOP.docx', 'Smart Water docmentation.pdf', 'Smart Water project.docx', 'Smart Water project.pdf', 'Sowmya_Resume_Feb 2018.pdf', 'Surya M Res-Feb-2018.pdf', 'Surya M Resume-Feb-2018.pdf', 'Surya M Resume_Feb-2018.pdf', 'surya.m@ericsson.com_F16.pdf', 'Telegram.lnk', 'top 100.docx', 'University details.txt', 'WPS PDF to Word.lnk', 'Yammer.lnk', '~$op 100.docx', '~$ver letter - noodle ai.docx']
CurretnPath:/Users/ezmxxsu/Desktop/Files moved toprod
Directories:['system']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/Files moved toprod\system
Directories:[]
Files:['SLA.pm']
CurretnPath:/Users/ezmxxsu/Desktop/home
Directories:['foist', 'log_sftp']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist
Directories:['home', 'home_july', 'home_june', 'home_may', 'upload']
Files:['july_csv.zip', 'june1_csv.zip', 'june_csv.zip', 'may1_csv.zip', 'may_csv.zip', 'Service Level & Invoice Report - 13 Sep 2017.csv', 'Service Level & Invoice Report - 29 Aug 2018.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home
Directories:['foist']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home\foist
Directories:['log_sftp']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home\foist\log_sftp
Directories:[]
Files:['SLAReport_06_00_02.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_july
Directories:['foist']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_july\foist
Directories:['log_sftp']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_july\foist\log_sftp
Directories:[]
Files:['SLAReport_06_00_02.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_june
Directories:['foist']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_june\foist
Directories:['log_sftp']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_june\foist\log_sftp
Directories:[]
Files:['SLAReport_14_00_01.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_may
Directories:['foist']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\home_may\foist
Directories:[]
Files:['SLAReport_12_40_35.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\upload
Directories:['test']
Files:['Service Level & Invoice Report - 13 Sep 2017.csv', 'Service Level & Invoice Report - 24 Aug 2018.csv', 'Service Level & Invoice Report - 25 Aug 2018.csv', 'Service Level & Invoice Report - 26 Aug 2018.csv', 'Service Level & Invoice Report - 27 Aug 2018.csv', 'Service Level & Invoice Report - 28 Aug 2018.csv', 'Service Level & Invoice Report - 29 Aug 2018.csv', 'Service Level & Invoice Report_jan.csv', 'SLAReport_14_20_53.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\foist\upload\test
Directories:[]
Files:['Service Level & Invoice Report - 29 Aug 2018.csv']
CurretnPath:/Users/ezmxxsu/Desktop/home\log_sftp
Directories:[]
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/New folder
Directories:['33 Navaneeth Sadasivan']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/New folder\33 Navaneeth Sadasivan
Directories:[]
Files:['ETSNGTCR_0000000029089048.pdf', 'Offer_Letter_1836888.pdf']
CurretnPath:/Users/ezmxxsu/Desktop/Shell
Directories:['.vagrant']
Files:['Vagrantfile']
CurretnPath:/Users/ezmxxsu/Desktop/Shell\.vagrant
Directories:['machines']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/Shell\.vagrant\machines
Directories:['default']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/Shell\.vagrant\machines\default
Directories:['virtualbox']
Files:[]
CurretnPath:/Users/ezmxxsu/Desktop/Shell\.vagrant\machines\default\virtualbox
Directories:[]
Files:['action_provision', 'action_set_name', 'creator_uid', 'id', 'index_uuid', 'private_key', 'synced_folders', 'vagrant_cwd']
CurretnPath:/Users/ezmxxsu/Desktop/__pycache__
Directories:[]
Files:['create_table.cpython-36.pyc', 'myfunctions.cpython-36.pyc', 'myfunctions1.cpython-36.pyc']

In [11]:
import os

os.chdir('/Users/ezmxxsu/Desktop/')

print(os.path.basename('/Users/ezmxxsu/Desktop/Facebook work Log.txt'))
print(os.path.dirname('/Users/ezmxxsu/Desktop/Facebook work Log.txt'))
print(os.path.split('/Users/ezmxxsu/Desktop/Facebook work Log.txt'))
print(os.path.exists('/Users/ezmxxsu/Desktop/Facebook work Log.txt'))
print(os.path.isdir('/Users/ezmxxsu/Desktop/home/'))

Facebook work Log.txt
/Users/ezmxxsu/Desktop
('/Users/ezmxxsu/Desktop', 'Facebook work Log.txt')
True
True