# STRINGS AND ITS METHODS

In [5]:
message='hai'
print(message)
print("Jayapriya")

hai
Jayapriya

In [4]:
print("Jayapriya's learning")
print('Jayapriya\'s learning')
print(len(message))

Jayapriya's learning
Jayapriya's learning
3

In [10]:
message='Hello World' 
print(len(message)) 
print(message[3]) 
print(message[0:5]) 
print(message[:5]) 
print(message[6:11]) 
print(message[6:])

11
l
Hello
Hello
World
World

In [15]:
print(message.lower())
print(message.upper())
print(message.count('Hello'))
print(message.count('l'))
print(message.find('World'))
print(message.find('universe'))

hello world
HELLO WORLD
1
3
6
-1

In [20]:
message="Hello World"
message.replace('World','Universe')
print(message)

Hello World

In [22]:
message="Hello World"
new_message=message.replace('World','Universe')
print(new_message)

Hello Universe

**String concatenation - normal way**

In [2]:
greeting= 'Hi'
Name='Jaya'
message= greeting +' '+ Name
print(message)
message= greeting+' '+Name+' '+ 'Welcome'
print(message)

Hi Jaya
Hi Jaya Welcome

**String concatenation - "using place holder"**

In [6]:
message= greeting+', '+Name+' '+ 'Welcome'
message='{}, {} Welcome'.format(greeting,Name)
print(message)

Hi, Jaya Welcome

**String concatenation- "Using f string"**

In [8]:
message= greeting+', '+Name+' '+ 'Welcome'
message=f'{greeting}, {Name} Welcome'
print(message)
message=f'{greeting}, {Name.upper()} Welcome'
print(message)

Hi, Jaya Welcome
Hi, JAYA Welcome

**mehtods available for the string object message**

In [10]:
print(dir(message))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Practice-strings

In [ ]:
flower= 'Rose'
Colour= 'Red'
print(Colour.lower())
Message= flower+' '+'is'+' '+ Colour
print (Message)
Message= '{} is {}.'.format(flower,Colour)
print (Message)
Message= f'{flower.upper()} is {Colour.lower()}.'
print (Message)
Promise='I will defenitely do master\'s Program'
print (Promise)
Promise=Promise.replace('I','Jayapriya')
print (Promise)
print(Promise.count('a'))
print(Promise.upper())
print(Promise[6])
print(Promise[0:14]+' '+Promise[26:])
Promise=Promise[0:4]+Promise[4].upper()+Promise[6:]
print(Promise)
print(Promise.replace('defenitely','surely'))
print(Promise.find('Program'))
print(len(Promise))

## Quiz: Lesson 1 - Strings and its Methods

**Q1) Is the code right? If not, correct it.**

A)

In [5]:
#One way
message = 'Jaya\'s caliber is much more than she ever values'
print(message)

#Alternative way
message = "Jaya's caliber is much more than she ever values"
print(message)

Jaya's caliber is much more than she ever values
Jaya's caliber is much more than she ever values

B)

In [7]:
# 1_message : here the variable starts with numerical, which is invalid
message= "Hello World!"
print(message)

Hello World!

**Q2) print the third word of the below string.**

In [22]:
my_string="Save our Souls"
print(my_string[9:])

Souls

**Q3) Print untill the last letter of the given string.**

In [27]:
# In python, starting index is inclusive, ending index is exclusive
#consider 0 from start, -1 from end.
my_string="Just amazing"
print(my_string[:11])
print(my_string[:-1])

Just amazin
Just amazin

**Q3) Correct the code. I need to print 'Just amaz'**

In [28]:
my_string="Just amazing"
print(my_string[:-3])

Just amaz

**Q4) Print a sentence using the words. The sentence must be in UPPERCASE.**

In [36]:
first_word='Help'
second_word='mE'
third_word='LeArn'
fourth_word='ProgramMing!'
print(first_word.upper()+" "+second_word.upper()+" "+third_word.upper()+" "+fourth_word.upper())

#using placeholder
sentence= '{} {} {} {}'.format(first_word.upper(),second_word,third_word,fourth_word)
print(sentence)

#using f string
sentence= f'{first_word.upper()} {second_word} {third_word.lower()} {fourth_word}'
print(sentence)

HELP ME LEARN PROGRAMMING!
HELP mE LeArn ProgramMing!
HELP mE learn ProgramMing!

**Q5) Count the frequency of the pattern 'ely' in the given paragraph. And replace the pattern as 'FOUND'.**

In [45]:
my_para="njsnfiusnfisjfiusdelyfnjsnelydisjdelynfiuefamdioafiusnkjzjnselyjbfueniajjnjgnisnofanisnfnsdjfweiunfnsnckkjsnfelyiwnfisnosjsdv sdbfelyienfiwns ksd vsndinfosnkncskjdsknelyfoiscksdnvsnfiosenfosnsnv"

In [47]:
print(my_para.count("ely"))
print(my_para.replace("ely", "FOUND"))

7
njsnfiusnfisjfiusdFOUNDfnjsnFOUNDdisjdFOUNDnfiuefamdioafiusnkjzjnsFOUNDjbfueniajjnjgnisnofanisnfnsdjfweiunfnsnckkjsnfFOUNDiwnfisnosjsdv sdbfFOUNDienfiwns ksd vsndinfosnkncskjdsknFOUNDfoiscksdnvsnfiosenfosnsnv

# INTEGERS AND FLOATS

In [25]:
#  Some arithmetic operator
#Floor Division=3//2 
#Exponent=3**2 
#Modulus= 3%2 
# Note: Object name should be in single word
print(3/2 )
print(7//2 )
print(3**2)
print(7%2 )
Exponent=3**2 
print(Exponent)
Floor_Division=3//2 
print(Floor_Division)
print(type(Exponent))
print(pow(3,2))

1.5
3
9
1
9
1
<class 'int'>
9

In [22]:
a= 2+3*6
b=2+(3*1)
print(a,b)
#increment operator
num=1
num+=1 
print(num)
#absolute value
print(abs(-10))
#round function
print(round(-3.49))
#round of to the required position 
print(round(9.879,2))

20 5
2
10
-3
9.88

In [23]:
# Relational/ Comparission operator- result is boolean
a=4
b=5
print(a>b)
print(a!=b)
print(a<b)

False
True
True

In [27]:
#Casting to avoild confusion betwene string and integer concat
a='4'
b='5'
print(a+b)
a=int(a)
b=int(b)
print(a+b)

45
9

## LISTS, TUPLES AND SETS

In [45]:
Colour = ['red','black','blue','orange']
print(Colour)
print(Colour.index('blue'))
print('blue'in Colour)
print(len(Colour))
print(Colour[2])
print(Colour[-1])
print(Colour[0:2])

['red', 'black', 'blue', 'orange']
2
True
4
blue
orange
['red', 'black']

**List Methods**

In [67]:
# using append method- to add at last
colour = ['red','black','blue','orange']
colour.append('Pink')
colour.remove('orange')
print(colour)
colour.insert(0,'Pink')
print(colour)

['red', 'black', 'blue', 'Pink']
['Pink', 'red', 'black', 'blue', 'Pink']

In [20]:
# using insert option - to insert anywhere
colour = ['red','black','blue','orange']
colour_1= ['yellow', 'brown']
colour.insert(0,colour_1)
print(colour)

[['yellow', 'brown'], 'red', 'black', 'blue', 'orange']

In [25]:
# using extend option- to add more than 1 item
colour = ['red','black','blue','orange']
colour.extend(colour_1)
print(colour)

['red', 'black', 'blue', 'orange', 'yellow', 'brown']

In [39]:
#using pop method deletes the item available at last in the listcolour.remove('black')
colour = ['red','black','blue','orange']
print(colour)
popped = colour.pop()
print(colour)
print(popped)

['red', 'black', 'blue', 'orange']
['red', 'black', 'blue']
orange

In [32]:
colour = ['red','black','blue','orange']
colour.sort()
print(colour)
colour.reverse()
print(colour)

['black', 'blue', 'orange', 'red']
['red', 'orange', 'blue', 'black']

In [37]:
num=[7,0,6,5,1,3,]
# to get descenring order- sort and then reverse
num.sort()
num.reverse()
print(num)
# 2nd method- in single step
num=[7,0,6,5,1,3,]
num.sort(reverse=True)
print(num)

[7, 6, 5, 3, 1, 0]
[7, 6, 5, 3, 1, 0]

In [38]:
#sorting without changing the original list.
new_colour= sorted(colour).
print(new_colour)

['black', 'blue', 'orange', 'red']

In [42]:
num=[7,0,6,5,1,3,]
print(min(num))
print(max(num))
print(sum(num))

0
7
22

In [33]:
#for loop
colour = ['red','black','blue','orange']

for item in colour:
    print(item)
    if item == 'blue':
        break  

# for <operator> in <pool>:colou

red
black
blue

In [36]:
# Enumerate function to get the index value
colour = ['red','black','blue','orange']
for index, item in enumerate (colour):
 print(index,item)
# to start with 1
colour = ['red','black','blue','orange']
for index, item in enumerate (colour,start=1):
 print(index,item)

0 red
1 black
2 blue
3 orange
1 red
2 black
3 blue
4 orange

In [63]:
# join method- to get string version of list
colour = ['red','black','blue','orange']
colour_1= ', '.join(colour)
print(colour_1)
#split method - list from string
colour_2= colour_1.split(',')
print(colour_2)

red, black, blue, orange
['red', ' black', ' blue', ' orange']

 **TUPLES () are immutable- unmodified unlike lists but all the actions can be performed like lists**

In [68]:
colour_1 = ['red','black','blue','orange']
colour_2=colour_1
print(colour_1)
print(colour_2)
colour_1[0]='pink'
print(colour_1)
print(colour_2)
tuple_1=('red','black','blue','orange')
tuple_2=tuple_1
print(tuple_1)
print(tuple_2)
tuple_1[0]='Pink'
print(tuple_1)
#error message shows tuple is immutable

['red', 'black', 'blue', 'orange']
['red', 'black', 'blue', 'orange']
['pink', 'black', 'blue', 'orange']
['pink', 'black', 'blue', 'orange']
('red', 'black', 'blue', 'orange')
('red', 'black', 'blue', 'orange')

TypeError: 'tuple' object does not support item assignment

**SETS {} - unordered and also have no duplicates**

In [79]:
#ouder of set gets changes for every execution
colour_1 = {'red','black','blue','orange'}
print(colour_1)
#duplicates get removed automatically in sets
colour_1 = {'red','black','blue','orange','red'}
print(colour_1)

{'black', 'blue', 'orange', 'red'}
{'black', 'blue', 'orange', 'red'}

In [81]:
#membership test- sets tests effecticvely if a element is present or not, than list and tuples
colour_1 = {'red','black','blue','orange'}
print('red' in colour)

True

In [85]:
#to find intersection, difference, union
colour_1 = {'red','black','blue'}
colour_2 = {'green','pink','blue'}
print(colour_1.intersection(colour_2))
print(colour_1.difference(colour_2))
print(colour_2.difference(colour_1))
print(colour_1.union(colour_2))

{'blue'}
{'black', 'red'}
{'green', 'pink'}
{'black', 'green', 'red', 'blue', 'pink'}

**To create empty list, set and tuples**

In [ ]:
empty_list=[]
empyt_set={}   --not right way as it is a dictionary
empty_tuple=()

#alternate optionnu 
empty_list=list()
empyt_set=set()
empty_tuple=tuple()

## Quiz:Lesson 2: Lists

**Q-1. What will be the output of the following code snippet?**

In [15]:
a=[1,2,3,4,5,6,7,8,9]
print(a[:])
print(a[: : 2])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [21]:
a[0:6:2]

[1, 3, 5]

In [11]:
[a,b,c]=6,7,8
print(a,b,c)

6 7 8

**Q-2. What will be the output of the following code snippet?**

In [13]:
a=[1,2,3,4,5,6,7,8,9]
#skip index by count 2
a[::2]=10,20,30,40,50
print(a)

[10, 2, 20, 4, 30, 6, 40, 8, 50]

In [ ]:
[1,3,5,7,9]=10,20,30,40,50,60
# Above line says index 1 is replaced by 10
10,2,20,4,30,6,40,8,50

**Q-3. What will be the output of the following code snippet?**

In [23]:
a=[1,2,3,4,5]
print(a[3:4])

[4]

In [24]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

**Q-4. What will be the output of the following code snippet?**

In [40]:
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
for i in arr:
    print(i.pop())
    print(i)

4
[1, 2, 3]
7
[4, 5, 6]
11
[8, 9, 10]
15
[12, 13, 14]

A. 1 2 3 4  
B. 1 4 8 12  
C. 4 7 11 15  
D. 12,13,14,15

**Q5: Replace chemistry with history.**

In [47]:
course=['math','chemistry','physics','comp sci']
for index, item in enumerate (course):
    if item=='chemistry':
        course[index]='history'
print(course)

['math', 'history', 'physics', 'comp sci']

**Q6:Add 'Art' after physics.**

In [46]:
course=['math','chemistry','physics','comp sci']
course.insert(3,'Art')
print(course)

['math', 'chemistry', 'physics', 'Art', 'comp sci']

**Q7:create an empty list and append numbers 1 to 10 to it. Merge the list with course list.**

In [54]:
course=['math','chemistry','physics','comp sci']
num=[]
for i in range (1,11):
    num.append(i)
print(num)
course.extend(num)
print(course)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['math', 'chemistry', 'physics', 'comp sci', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Q4: Sort the given list and remove the items that is divisble by 2**

In [74]:
number=[5,3,43,53,22,74,332,56,21,674,23,67,88,32,34,321,683,46]
number_1=sorted (number, reverse= True)
print(number)
print(number_1)
for item in number_1:
    print(item%2)
    if item%2 == 0:
        number_1.remove(item)
       
print(number_1)

[5, 3, 43, 53, 22, 74, 332, 56, 21, 674, 23, 67, 88, 32, 34, 321, 683, 46]
[683, 674, 332, 321, 88, 74, 67, 56, 53, 46, 43, 34, 32, 23, 22, 21, 5, 3]
1
0
1
0
1
0
0
0
1
0
1
1
[683, 332, 321, 74, 67, 53, 43, 32, 23, 21, 5, 3]

**Q5: What is difference between using Sort and Sorted?**

In [76]:
course=['math','chemistry','physics','comp sci']
print(course)
course_1=sorted(course)
print(course_1)

['math', 'chemistry', 'physics', 'comp sci']
['chemistry', 'comp sci', 'math', 'physics']

**Q6: find the index of the elements that starts with 'c'.**

In [77]:
course=['math','chemistry','physics','comp sci']
for index, item in enumerate (course):
    if item[0]=='c':
        print (index, item)

1 chemistry
3 comp sci